.status-message {
  margin: 0;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  transition: all 0.3s;
}

.status-message.error {
  background-color: rgba(197, 34, 31, 0.1);
  color: #ff5c57;
  border-left: 4px solid #ff5c57;
}

.status-message.success {
  background-color: rgba(19, 115, 51, 0.1);
  color: #3cba54;
  border-left: 4px solid #3cba54;
}

.status-message.info {
  background-color: rgba(26, 115, 232, 0.1);
  color: var(--primary-color);
  border-left: 4px solid var(--primary-color);
}

.hidden {
  display: none !important;
}
